<section id="components">
  <div class="row">
    <div class="columns">
      <h3>
        <%= t(".title") %>
        <% if resource %>
          -
          <%= link_to(resource_title(resource), resource_locator(resource).path) %>
        <% end %>
      </h3>
    </div>
  </div>
  <%= form_for @permissions_form, url: url_for(action: :update, **resource_params), method: "put" do |permissions_form| %>
    <%= permissions_form.fields_for :permissions, permissions_form.object do |action_permission_form| %>
      <% action_permission_form.object.permissions.each do |action, permission| %>
        <fieldset class="card <%= action %>-permission">
          <div class="card-divider"><%= t("#{component.manifest.name}.actions.#{action}", scope: "decidim.components") %></div>

          <div class="card-section">
            <%= action_permission_form.fields_for(action, permission) do |permission_form| %>
              <%= permission_form.collection_check_boxes :authorization_handlers,
                                                    authorizations,
                                                    :name,
                                                    :description,
                                                    { include_blank: t(".everyone") } %>
              <% if permission.authorization_handlers %>
                <% permission.authorization_handlers.keys.each_with_index do |handler_name, index| %>
                  <div id="authorization-handler-<%= handler_name %>"
                      class="authorization-handler">
                    <%= render "options_form", form: permission_form, handler_name: handler_name, index: index %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <!-- Cada elemento es de esta clase: Decidim::Verifications::Adapter -->
            <% other_authorizations_for(action).each do |verification_adapter| %>
              <!-- Decidim::Admin::PermissionForm.new(authorization_handlers: [authorization] -->

              <!-- el tema es que voy a isntanciar un PermissionForm pasando como parámetro un VerificationAdapter -->
              <% foobar = Hash[other_authorizations_for(action).map(&:name).collect { |handler_name| [handler_name, { options: {} } ] }] %>
              <% permission = Decidim::Admin::PermissionForm.new(authorization_handlers: foobar) %>

              <%= action_permission_form.fields_for(action, permission) do |permission_form| %>
                <% permission.authorization_handlers.keys.each_with_index do |handler_name, index| %>
                  <div id="authorization-handler-<%= handler_name %>"
                      class="authorization-handler"
                      style="display:none">
                    <%= render "options_form", form: permission_form, handler_name: handler_name, index: index %>
                  </div>
                <% end %>

              <% end %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
    <%= permissions_form.submit t(".submit") %>
  <% end %>
</section>

<%= javascript_include_tag "decidim/admin/component_permissions" %>
