<section id="components">
  <div class="row">
    <div class="columns">
      <h3>
        <%= t(".title") %>
        <% if resource %>
          -
          <%= link_to(resource_title(resource), resource_locator(resource).path) %>
        <% end %>
      </h3>
    </div>
  </div>
  <%= form_for @permissions_form, url: url_for(action: :update, **resource_params), method: "put" do |permissions_form| %>
    <%= permissions_form.fields_for :permissions, permissions_form.object do |action_permission_form| %>
      <% action_permission_form.object.permissions.each do |action, permission| %>
        <fieldset class="card <%= action %>-permission">
          <div class="card-divider"><%= t("#{component.manifest.name}.actions.#{action}", scope: "decidim.components") %></div>

          <div class="card-section">
            <%= action_permission_form.fields_for(action, permission) do |permission_form| %>
              <%= permission_form.collection_check_boxes :authorization_handlers,
                                                    authorizations,
                                                    :name,
                                                    :description,
                                                    { include_blank: t(".everyone") } %>
              <% permission.authorization_handlers_names.each do |handler_name| %>
                <div id="authorization-handler-<%= handler_name %>"
                    class="authorization-handler">
                  <%= render "options_form", form: permission_form, handler_name: handler_name %>
                </div>
              <% end %>
            <% end %>

            <!-- Cada elemento es de esta clase: Decidim::Verifications::Adapter -->
            <% other_authorizations_for(action).each do |verification_adapter| %>
              <!-- Aquí estoy machacando las opciones. Hay que ajsutar esta línea. -->
              <% permission = Decidim::Admin::PermissionForm.new(authorization_handlers: { verification_adapter.name => {} }) %>

              <%= action_permission_form.fields_for(action, permission) do |permission_form| %>
                <% permission.authorization_handlers.keys.each do |handler_name| %>
                  <div id="authorization-handler-<%= handler_name %>"
                      class="authorization-handler">
                      <!--style="display:none"> Esto se oculta/muestra por JS cuando seleccionamos el handler adecuado, hasta que funcione OK, visible siempre -->
                    <%= render "options_form", form: permission_form, handler_name: handler_name %>
                  </div>
                <% end %>

              <% end %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
    <%= permissions_form.submit t(".submit") %>
  <% end %>
</section>

<%= javascript_include_tag "decidim/admin/component_permissions" %>
